@tailwind base;
@tailwind components;
@tailwind utilities;

:focus {
  outline: none;
  box-shadow: none;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
